html(lang="en")
    head
        meta(charset="UTF-8")
        title 404
    body
        style.
            .image {
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
                color: #333;
                background-image: url('/404.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100vh; /* Adjust as needed */
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            footer {
                color: black;
                text-align: center;
                padding: 10px;
            }
        //- img(src="/404.png" alt="Image for 404 page")
        div.image
        footer
            p
                | &copy; Image made by  
                a(href="https://dribbble.com/phillipkova") Phillip Kovalev 
                | for 
                a(href="https://dribbble.com/unfold") unfold

